

<% layout('layouts/Boilerplate')%>
<div class="row">
    <h1 class="text-center">New Salon</h1>
<div class="col-6 offset-3">
    <form action="/salons/<%=salon._id%>?_method=PUT" method="POST">
        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id="name" name="salon[name]" value="<%= salon.name %>">
        </div>
        <div class="mb-3">
            <label class="form-label"  for="location">location</label>
            <input class="form-control"  type="text" id="location" name="salon[location]" value="<%= salon.location %>">
        </div>
        <div class="mb-3">
            <label class="form-label"  for="image">Image URL</label>
            <input class="form-control"  type="text" id="image" name="salon[image]" value="<%= salon.image %>">
        </div>
        <div class="mb-3">
            <label class="form-label"  for="description">Description</label>
            <textarea class="form-control"  type="text" id="description" name="salon[description]" value="<%= salon.description %>"></textarea>
           
        </div>
        <div class="mb-3">
            <button class="btn btn-info">Edit Salon</button>
        </div>
        
    </form>

    <a href="/salons/<%= salon._id %>"> Back to salon</a>

</div>
</div>
    