<% layout('layouts/Boilerplate')%>
    <h1> <%= salon.name %></h1>
    <img src="<%= salon.image%>" alt="">
    <p><%= salon.description%></p>
    <h2> <%= salon.location %></h2>
    <form action="/salons/<%= salon._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <footer>
        <a href="/salons/<%=salon._id%>/edit"> Edit</a>
        <p></p>
        <a href="/salons"> All salons</a>
    </footer>
